/* 
Project Name: Willi Schmid
Author: Rebecca Staley
*/


/******************************************
/* SETUP                   
/*******************************************/

	/* Clear fix hack */
	.clearfix:after {
	     content: ".";
	     display: block;
	     clear: both;
	     visibility: hidden;
	     line-height: 0;
	     height: 0;
	}

	.hidden {
		display: none;
	}	

/******************************************
/* BASE STYLES                   
/*******************************************/

	html {
		margin: 0;
		overflow: auto;
	}

	body {
	     color: #000;
	     font-size: .8em;
	     line-height: 1.4;
	     font-family: "adobe-garamond-pro", baskerville, serif;
		 background: #fff;
		 overflow: auto;
		 -webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		transition: all 2s ease;
	}

	h1 {
		font-size: 1.9em;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		z-index: 99;
		margin: 20px 0 0 2%;
		position: absolute;
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		transition: all 2s ease;
	}

	h2 {
		font-size: 1.2em;
		z-index: 99;
		margin: 50px 0 2% 2%;
		position: absolute;
		-webkit-transition: all 2s ease;
		-moz-transition: all 2s ease;
		transition: all 2s ease;
		
	}

	h3 {
		font-size: 3em;
		letter-spacing: 2px;
		text-align: center;
		padding: 5px 0;
		text-transform: uppercase;
		margin: 0 auto 30px auto;
		max-width: 800px;
	}

	h4 {
		font-size: 1.7em;
		font-style: italic;
		text-align: center;
		margin: 30px auto 0 auto;
		max-width: 800px;
	}

	h5 {
		font-size: 1em;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 0 auto;
		max-width: 750px;
	}

	h6 {
		font-size: 1.3em;
		letter-spacing: 2px;
		margin: 0 auto;
		max-width: 750px;
	}

	p {
		text-align: justify;
		font-size: 1.5em;
		line-height: 1.8em;
		margin: 20px auto 0 auto;
		max-width: 750px;
	}

	p.newsClippings {
		line-height: 1.5em;
	}

	em {
		font-style:italic;
	}



	.moveOn {
		position: absolute;
		text-align: right;
		font-style: italic;
		margin: 0 auto;
		right: 10%;
		top: 15px;
	}

	.moveBack {
		position: absolute;
		left: 10%;
		top: 15px;
		text-align: left;
		font-style: italic;
		margin: 0 auto;
	}

	.moveOn img,
	.moveBack img {
		width: 20px;
		margin: 10px auto;
	}

	.moveOn img {
		position: absolute;
		right: -30px;
		top: 2px;
	}

	.moveBack img {
		position: absolute;
		left: -30px;
		top: 2px;
	}

	a {
		text-decoration: none;
		color: #10A4BC;
		transition: all 500ms ease;
	}

	a:hover {
		color: #03B4B9;
	}

/*******************************************************************/
/*TITLE PAGE
/*******************************************************************/

	#openingTitle {
		width: 100%;
		height: 1000px;

	}

	#openingTitle h1 {
		text-align: center;
		font-size: 4.5em;
		text-transform: uppercase;
		position: static;
		margin: 20% auto 0 auto;
	}

	#openingTitle h2 {
		text-align: center;
		position: static;
		font-size: 3em;
		font-style: italic;
		margin: 0 0 30px 0;
	}

	#openingTitle h3 {
		text-align: center;
		margin: 20px 0;
		font-style: normal;
		font-size: 1.4em;
		max-width: 100%;
		text-transform: none;
	}

	.sticky {
		width: 50%;
		position: fixed;
		top: 25%;
		left: 25%;
		z-index: -300;
	}

	.fixedPic {
		position: fixed;
		top: 100px;
	}

	.introPic {
		position: relative;
		z-index: -10;
	}

	.introText {
		width: 100%;
		min-width: 400px;
		color: white;
		background-color: rgba(0,0,0,.2);
		padding: 20px;
		position: absolute;
		left: 0;
		top: 0;
	}

	.introPic img {
		width: 100%;
	}

/**************************************************************************************
/* Animations                 
/**************************************************************************************/

		.scaleUp {
			-webkit-filter: blur(2px);
			-webkit-transform: scale(1.2,1.2);
			transform: scale(1.2,1.2);
			moz-transform: scale(1.2,1.2);
			ms-transform: scale(1.2,1.2);
			
		    -webkit-transition: all .5s ease-out;
		    transition: all .5s ease-out;
		}

		@-webkit-keyframes scrollDown {
			0% {
				opacity: .7;
				top: 90%;
			}

			50% {
				opacity: 0;
				top: 89%;
				}

			100% {
				opacity: .7;
				top: 90%;
			}
		}

/**************************************************************************************
/* LAYOUT                   
/**************************************************************************************/

	header {
		text-align: left;
		position: fixed;
		top:0;
		z-index: 500;
		width: 100%;
		height: 100px;
		padding: 0;
		background-color: white;
		-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
	    -moz-box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
	    box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
	}

	footer {
		position: fixed;
		bottom: 0px;
		z-index: 500;
		width: 100%;
		height: 100px;
		padding: 0;
		border-top: 1px solid #ddd;
		background-color: white;
		-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
	    -moz-box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
	    box-shadow: 0 0 4px 3px rgba(0,0,0,0.3);
	    display: none;
	}

	hr {
		width: 40%;
/*		min-width: 400px;*/
	}

	section {
		margin: 90% auto 0 auto;
		width: 100%;
		background-color: white;
		padding: 30px 0 200px 0;
	}


	section h4 {
		margin-top: 100px;
	}
	
	#chapter8 {
		margin-bottom: 100%;
	}

	.scrollDown {
		width: 0;
		height: 0;
		border-right: 20px solid transparent;
		border-left: 20px solid transparent;
		border-top: 20px solid #000;
		position: absolute;
		left: 48%;
		top: 90%;
		-webkit-animation: scrollDown 3s ease infinite normal;
		-moz-animation: scrollDown 3s ease infinite normal;
		-ms-animation: scrollDown 3s ease infinite normal;
	    animation: scrollDown 3s ease infinite normal;
	}

/****************************************************************
/* CHAPTER SIDEBAR                   
/****************************************************************/


		.chapters {
			position: fixed;
			left: -80px;
			top: 100px;
			bottom: 0;
			width: 60px;
			text-align: center;
			min-height: 400px;
			z-index: 501;
			transition: all 1s ease;
			
		}

		.chapters ul {
			list-style: none;
			position: static;
		}

		.chapters li {
			background-color: rgba(255,255,255,.8);
			height: 12.5%;
			font-size: 1.6em;
		}

		.chapters li:first-child {
			border-top: 1px solid white;
		}

		.chapters li a{
			color: #888;
			position: relative;
			top: 40%;

		}

		.chapters li a:hover {
			color: #10A4BC;
			cursor: pointer;
		}

		#current {
			background-color: rgba(0,50,80,0.60);
			border-top: 1px solid #333;
			border-bottom: 1px solid #333;
		}

		#current a {
			color: #fff;
		}

/****************************************************************
/* TEXT STYLES           
/*****************************************************************/

	/*********************** For poems and quotes ***********************/
		.inset {
				padding: 10px 3% 0 8%;
				margin: 0 auto;
				line-height: 1.5em;
				font-size: 1.3em;
		}

		h5.inset {
			margin: 30px auto 0 auto;
		}


	/*For news articles and Kate's testimony - mostly in chapter 2*/
		.newsClippings {
			padding: 8px 5% 0 5%;
		}

		p.newsClippings {
			font-size: 1.3em;
			}

	/*For when we need a break*/
		.rest {
			padding-bottom: 100px;
		}

	/*For endnotes*/
		.citation {
			vertical-align: super;
			font-size: .75em;
			padding: 0 .2em;
			}

	/*For condolence letters*/
		.condolences {
			padding-left: 15%;
			padding-right: 15%;
			margin: 30px 15%;
			font-size: 1.3em;
			max-width: 750px;
		}

		.signature {
			padding-left: 7%;
			margin-top: 0px;
		}

		.letter {
			font-size: .9em;
			padding: 0 10%;
		}

		.first {
			padding-top: 20px;
		}

		.last {
			padding-bottom: 20px;
		}

/*****************************************************************
/* HEADER NAV                
/*****************************************************************/

	header ul {
		padding: 0;
		position: fixed;
		top: 0;
		background-color: rgba(0,50,80,0.60);
		height: 100px;
		width: 100%;
		z-index: 50;
		
	}

	header ul li {
		font-size: 1em;
		display: inline;
		text-transform: uppercase;
		letter-spacing: .1em;
		margin-top: 35px;
		padding: auto 5px auto 5px;
		float: right;
		color: white;
	}

	header ul li:first-child {
		margin-right: 10%;
	}

	.headerCurrent {
		border-bottom: 1px solid white;
		pointer-events: none;
		}

	.spacer {
		padding: 0 2%;
	}

	header ul li.title {
		float: left;
		padding-left: 20px;
		font-size: 2em;
		margin-top: 25px;
		color: white;
	}

	#navPhotos,
	#navBook,
	#navResources {
		cursor: pointer;
	}

	#navPhotos:hover,
	#navBook:hover,
	#navResources:hover {
		color: #ccc;
	}

/******************************************
/* NAV             
/*******************************************/

	.navburger {
		margin-top: 30px;
		margin-right: 3%;
		height: 40px;
	    width: 40px;
		float: right;
		display: block;
		z-index: 99;
		position: relative;
		
	}
		
	.navburgerSlice {
		display: block;
		float: right;
	    background: #000;
	    border: 1px solid #000;
	    border-radius: 2px;
	    height: 2px;
		margin-top: 5px;
	    width: 30px;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		transition: all .5s ease;
	}

	.rotateDown {
		-ms-transform: rotate(45deg);
	    -webkit-transform: rotate(45deg);
	    transform: rotate(45deg);
	    margin-top: 8px;
	}

	.rotateUp {
		-ms-transform: rotate(-45deg);
	    -webkit-transform: rotate(-45deg);
	    transform: rotate(-45deg);
	    margin-top: -13px;
	}

	.activeNav {
		background-color: #fff;
		border: 1px solid #fff;
	}

	.goAway {
		background-color: rgba(255,255,255,0);
		border: 1px solid rgba(255,255,255,0);
	}

	.topMenu a {
		color: white;
	}

	.topMenu a:hover {
		color: #10A4BC;
	}

/******************************************
/* PHOTOS             
/*******************************************/

	#photos {
		width: 95%;
		margin: 120px 0;
		padding: 2%;
		overflow: auto;
		position:relative;
	}

	#allPhotos {
		margin: 0 auto 0 200px;
		width: 80%;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}

	#photoMenu {
		margin: 20px;
		width: 180px;
		text-align: justify;
		position:fixed;
		top:120px;
		left: 10px;
		
	}


	.pic {
		position: relative;
		margin: 1%;
		display: inline;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
	}

	.pic img {
		width: 22%;
		margin: 20px auto 0 auto;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		transition: all 1s ease;
		
	}

	.caption {
		position: absolute;
		bottom: 2.5px;
		width: 99%;
		left: 0;
		right: 0;
		margin: 0;
		background-color: rgba(0,0,0,.8);
		padding: 10px auto;
		pointer-events:none;
	}

	.caption h5 {
		text-align: center;
		margin: 20px auto 17px auto;
		padding: 10px;
		color: white;
	}

	button.picButton {
		margin: 4px;
		background-color:#FFF;
		border:none;
		font-size:1em;
		font-family: "adobe-garamond-pro", baskerville, serif;
		padding: 5px;
		display:block;
		text-align:left;
		width: 180px;
	}
	button:focus {
		outline:0;
}
button:hover {
	color: #03B4B9;
}

#photoMenu>h5{
		Margin:0 0 10px 2%;
		Padding-left: 5px;

}

#photoMenu hr{
	width: 180px;
	margin: 10px auto;
	color: #e0e0e0;

}
	
.picButton.selected {
	background-color: rgba(0,50,80,0.50);
	border:none;
	color:white;
}


#showAll {
	border:none;
	font-style:italic;
	font-size: 1em;
}


#showAll.selected {
		background-color:#FFF;
		font-family: "adobe-garamond-pro", baskerville, serif;
		padding: 5px;
		display:block;
		text-align:left;
		width: 160px;
		color: black;
}

#showAll:hover {
	color: #03B4B9;
}


	.resourcesPlaceholder {
		width: 100%;
		height: 1000px;

	}

	.resourcesPlaceholder h1 {
		text-align: center;
		font-size: 4.5em;
		text-transform: uppercase;
		position: static;
		margin: 20% auto 0 auto;
	}

	.resourcesPlaceholder h2 {
		text-align: center;
		position: static;
		font-size: 3em;
		font-style: italic;
		margin: 0 0 30px 0;
	}

	.resourcesPlaceholder h3 {
		text-align: center;
		margin: 20px 0;
		font-style: normal;
		font-size: 1.4em;
		max-width: 100%;
		text-transform: none;
	}

	.sticky {
		width: 50%;
		position: fixed;
		top: 25%;
		left: 25%;
		z-index: -300;
	}

	.fixedPic {
		position: fixed;
		top: 100px;
	}